<!DOCTYPE html>
<html>
    <head>
        <title>Super Sexy React - aka Server Side React</title>
        <script src="/js/vendor.bundle.js"></script>
    </head>
    <body>
	    <script type="text/javascript">
	    	window.App = <%-data%>;
	    </script>

	    <div id="main"><%-app%></div>

	    <script src="/js/app.bundle.js"></script></body>
    </body>
</html>
